*.agdai
Hefty/MAlonzo
Hefty/Hefty
Hefty/HelloWorld
Hefty/Teletype
Hefty/IO
Hefty/15-IO
Hefty/Free2List
Hefty/Reproduce
Hefty/CustomOutHandler
Hefty/dist-newstyle
DataTypeLaCarte/Main
DataTypeLaCarte/Main.hi
DataTypeLaCarte/Main.o
*.swp
